{% extends 'Register_Login/base.html' %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block heading %}
    <h3>Sign Up</h3>
{% endblock %}

{% block form %}
    <form autocomplete="off" style="height: 300px;" method="POST">
        {% csrf_token %}
        <!-- {{ user_form.as_p }} -->
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="First name" name="first_name">
        </div>
        <p style="color: yellow;">{{ first_name }}</p>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Last Name" name="last_name">
        </div>
        <p style="color: yellow;">{{ last_name }}</p>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="email" class="form-control" placeholder="E-Mail" name="email">
        </div>
        <p style="color: yellow;">{{ email }}</p>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Username" name="username">
        </div>
        <p style="color: yellow;">{{ username }}</p>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <p style="color: yellow;">{{ password }}</p>
        <div class="form-group">
            <input id="register" type="submit" value="Register" class="btn float-right login_btn">
        </div>
    </form>
{% endblock %}

{% block register_login %}
    <div class="d-flex justify-content-center links">
        Already have an account?<a href="{% url 'Register_Login:user_login' %}">Sign In</a>
    </div>
{% endblock %}