#head {
    margin-top: 0;
    padding-left: 0.5em;
    color: white;
    font-size: 2em;
    line-height: 0.5em;
}

.left {
    padding-left: 50px;
}

.display {
    height: 900px;
    width: 700px;
}

hr {
    border-top: 1px solid #A9A9A9;
    width: 1400px;
}

.submit {
    margin-left: 20px;
    margin-top: -100px;
}

.post {
    margin-left: 25%;
    margin-top: 5%;
    /* box-sizing: border-box; */
    /* appearance: none; */
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 0.6em;
    color: blue;
    cursor: pointer;
    /* display: flex; */
    align-self: center;
    font-size: 1.5rem;
    font-weight: 400;
    /* line-height: 1; */
    /* margin: 20px; */
    padding: 0.4em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.post:hover, .post:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px blue inset;
}

.information {
    margin-left: 150px;
    margin-right: 150px;
}

.technical {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 700px;
}

.col1 {
    background-color: #dddddd;
    text-align: left;
    padding: 8px;
}

.col2 {
    background-color: white;
    text-align: left;
    padding: 8px;
}

.container-fluid {
    background-color: #6155A6;
    color: #FFE6E6;
}

button.sub {
    background-color: #febd69;
}

button.sub:hover {
    background-color: #fead3f;
}

.search {
    margin-top: 1em;
    padding-left: 1em;
    width: 70%;
}

.white {
    color: white;
}

.grey {
    color: #ccc;
}

.description {
    margin-top: -120px;
    margin-left: 100px;
    width: 700px;
    height: 200px;
}

.rating {
    width: 300px;
    margin: 0 auto 1em;
    font-size: 30px;
    overflow:hidden;
}

.rating a {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating a:hover, .rating a:hover ~ a, .rating a:focus, .rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

@import "lesshat";

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
  float: left;
  margin-left: 100px;
}

.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
}

.charts {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 10;
}

.chart {
    margin-top: 10px;
}

.chart__title {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  /* opacity: 0; */
  animation: 1s anim-lightspeed-in ease forwards;
}

@keyframes anim-lightspeed-in {
    0% {
      transform: translateX(-200%);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(to left, gold, orange);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

.inpbox {
    float: left;
    margin-left: 20%;
    border-radius: 5px;
    width: 100%;
    height: 80px;
    padding: 5px 10px;
}

.comments {
    padding-left: 20%;
    overflow: hidden;
    width: 75%;
}

.reviews {
    height: 450px;
    overflow-y: scroll;
}

.features {
    list-style: none;
}

.features li:before {
    content: "•";
    font-size: 130%;
    padding-right: 5px;
}

.stickers {
    width: 80px;
    height: 80px;
    text-align: center;
    float: left;
    margin: 0 20px 0 0;
}

.bold {
    font-weight: bold;
}

.dropbtn {
    background-color: #6155A6;
    color: white;
    padding: 5px;
    font-size: 1em;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color: darkorange;
    text-decoration: none;
}

ul>li {
    padding-top: 0.5em;
    padding-left: 0.5em;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.rating-component {
    margin-top: 200px;
}

.rating-component .status-msg {
  margin-bottom: 10px;
  height: 130px;
  width: 100px;
  margin-left: 75px;
  text-align: center;
}

.rating-component .status-msg strong {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.rating-component .stars-box {
    width: 200px;
    margin-left: 20%;
  margin-bottom: 15px;
}

.rating-component .stars-box .star {
  color: #ccc;
  cursor: pointer;
}

.rating-component .stars-box .star.hover {
  color: gold;
}

.rating-component .stars-box .star.selected {
  color: gold;
}

.feedback-tags {
  min-height: 119px;
  margin-left: 15%;
}

.feedback-tags .tags-container {
  display: none;
}

.feedback-tags .tags-container .question-tag {
  text-align: center;
  margin-bottom: 20px;
}

.feedback-tags .tags-box {
  display: -webkit-box;
  display: -ms-flexbox;
  text-align: center;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feedback-tags .tags-container .make-compliment {
  padding-bottom: 20px;
}

.feedback-tags .tags-container .make-compliment .compliment-container {
  height: 0px;
  width: 260px;
  margin-top: 10px;
  padding-bottom: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.feedback-tags
  .tags-container
  .make-compliment
  .compliment-container
  .fa-smile-wink {
  color: #6155A6;
  cursor: pointer;
  font-size: 40px;
  margin-top: 15px;
  -webkit-animation-name: compliment;
  animation-name: compliment;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.feedback-tags
  .tags-container
  .make-compliment
  .compliment-container
  .list-of-compliment {
  display: none;
  margin-top: 15px;
}

.feedback-tags .tag {
  border: 1px solid #6155A6;
  border-radius: 5px;
  color: #6155A6;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
}

.feedback-tags .tag .choosed {
  background-color: #6155A6;
  color: #fff;
}

.list-of-compliment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.list-of-compliment ul li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 20px;
  min-width: 90px;
}

.list-of-compliment ul li:first-child {
  margin-left: 0;
}

.list-of-compliment ul li .icon-compliment {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #6155A6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 70px;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 70px;
}

.list-of-compliment ul li .icon-compliment i {
  color: #6155A6;
  font-size: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.list-of-compliment ul li.actived .icon-compliment {
  background-color: #6155A6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.list-of-compliment ul li.actived .icon-compliment i {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-box .done {
  background-color: #6155A6;
  border: 1px solid #6155A6;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  min-width: 100px;
  padding: 10px;
  margin-left: 15%;
}

.submited-box .loader,
.submited-box .success-message {
  display: none;
}

.submited-box {
  width: 200px;
  height: 110px;
  margin-left: 50px;
}

.submited-box .loader {
  border: 5px solid transparent;
  border-top: 5px solid #4dc7b7;
  border-bottom: 5px solid #6155A6;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

@-webkit-keyframes compliment {
  1% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  50% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  75% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes compliment {
  1% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  50% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  75% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
