{% extends 'navbar.html' %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'Mobiles/css/styles.css' %}">
    <script src="https://kit.fontawesome.com/f6b9125e15.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body_block %}
    <table>
        <tr>
            <td>
                {% block display_image %}
                {% endblock %}
            </td>
            <td>
                <div class="description">
                <h2>
                    {{ product_name }} ({{ product_specs }})
                </h2>
                <br>
                <h3>
                    Price: <i class="fas fa-rupee-sign"></i> {{ price }}
                </h3>
                <h5 style="padding-left: 75px;">
                    Inclusive of all taxes
                </h5>
                <br>
                <h4 id="free-delivery"></h4>
                <h4 id="fastest-delivery"></h4>
                <br>
                <br>
                <span>
                    <div class="stickers">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-returns._CB484059092_.png" style="width: 50px;
                    height: 50px; align: center;" alt="7 days replacement">
                    <br>
                    <a href="#" title="Header" data-toggle="popover" data-placement="bottom" data-content="Content">7 days Replacement</a>
                    </div>
                    <div class="stickers">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-amazon-delivered._CB485933725_.png" style="width: 50px;
                    height: 50px; align: center;" alt="Home Delivered">
                    <br>
                    <a href="#" title="Header" data-toggle="popover" data-placement="bottom" data-content="Content">Home Delivered</a>
                    </div>
                    <div class="stickers">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-warranty._CB485935626_.png" style="width: 50px;
                    height: 50px; align: center;" alt="1 year warranty">
                    <br>
                    <a href="#" title="Header" data-toggle="popover" data-placement="bottom" data-content="Content">1 Year Warranty</a>
                    </div>
                    <div class="stickers">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/No_contact_delivery_final._CB432269791_.png" style="width: 50px;
                    height: 50px; align: center;" alt="No Contact Delivery">
                    <br>
                    <a href="#" title="Header" data-toggle="popover" data-placement="bottom" data-content="Content">No Contact Delivery</a>
                    </div>
                </span>
                <br>
                <br>
                <br>
                <br>
                <br>
                <hr style="width: 700px;">
                <h4 style="color: green;">In stock.</h4>
                <h4>Colour: <strong>{{ color }}</strong></h4>
                <ul class="features">
                    {% for feature in features %}
                        <li>{{ feature.features }}</li>
                    {% endfor %}
                </ul>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <h2 class="left">Have a Question?</h2>
    <p class="left">Find answers in product info, Q&As, and reviews</p>
    <form action="mailto:swati100897@gmail.com" method="post" enctype="text/plain" class="left">
        <div>
        <i class="fas fa-search"></i>
        <input type="search" placeholder="Type your question or keyword.." size="80">
        <input type="submit" value="Submit">
        </div>
    </form>
    <hr>
    <h1 class="left">Products related to this item</h1>
    {% block related_product %}
    {% endblock %}
    <hr>
    <h2 class="left" style="line-height: 1.5;">{{ product_name }} Mobile Information</h2>
    <p class="left" style="line-height: 1.5;">Style Name: <strong>{{ product_specs }}</strong> | Colour: <strong>{{ color }}</strong></p>
    <div class="information">
        <table>
            <tr>
                <td>
                    <h3 style="padding-left: 20px;">Technical Details</h3>
                    <hr style="width: 700px; margin-left: -5px;">
                    <table class="technical">
                        <tr>
                            <td class="col1">OS</td>
                            <td class="col2">{{ os }}</td>
                        </tr>
                        <tr>
                            <td class="col1">RAM</td>
                            <td class="col2">{{ ram }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Product Dimensions</td>
                            <td class="col2">{{ product_dimensions }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Batteries</td>
                            <td class="col2">{{ batteries }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Item Model Number</td>
                            <td class="col2">{{ item_model_number }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Wireless Communication Technologies</td>
                            <td class="col2">{{ wireless }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Special Features</td>
                            <td class="col2">{{ special }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Other Display Features</td>
                            <td class="col2">{{ display }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Other Camera Features</td>
                            <td class="col2">{{ camera }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Form Factor</td>
                            <td class="col2">{{ form_factor }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Colour</td>
                            <td class="col2">{{ colour }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Battery Power Rating</td>
                            <td class="col2">{{ battery_power }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Manufacturer</td>
                            <td class="col2">{{ manufacturer }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Country of Origin</td>
                            <td class="col2">{{ origin }}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    {% block additional %}
                    {% endblock %}
                    <table class="technical" style="margin-left: 100px;">
                        <tr>
                            <td class="col1">ASIN</td>
                            <td class="col2">{{ asin }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Customer Reviews</td>
                            <td class="col2">{{ average_customer_rating }} out of 5 stars</td>
                        </tr>
                        <tr>
                            <td class="col1">Best Sellers Rank</td>
                            <td class="col2">{{ best_sellers }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Date First Available</td>
                            <td class="col2">{{ launch_date }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Manufacturer</td>
                            <td class="col2">{{ manufacture_address }}</td>
                        </tr>
                        <tr>
                            <td class="col1">Generic Name</td>
                            <td class="col2">{{ generic_name }}</td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <h3 style="margin-left: 100px;">Feedback</h3>
                    <hr style="width: 700px; margin-left: 100px;">
                    <form style="margin-left: 100px;" action="mailto:swati100897@gmail.com" method="post" enctype="text/plain">
                        <textarea placeholder="Any feedbacks or suggestions.." rows="4" cols="80"
                            style="padding: 5px;"></textarea>
                        <br />
                        <input type="submit" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <h2 class="left">Customer Reviews and Comments to be added here</h2>
    {% block comments %}
    {% endblock %}
    <script src="{% static 'Mobiles/js/mobile.js' %}" charset="utf-8"></script>
{% endblock %}