{% extends 'Mobiles/base.html' %}
{% load static %}

{% block display_image %}
    <div id="nail2" class="carousel slide display" data-ride="carousel" data-interval="0">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="nail1" data-slide-to="0" class="active"></li>
            <li data-target="#nail1" data-slide-to="1"></li>
            <li data-target="#nail1" data-slide-to="2"></li>
            <li data-target="#nail1" data-slide-to="3"></li>
            <li data-target="#nail1" data-slide-to="4"></li>
        </ol>
         <!-- carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'images/mobiles/iphone12mini/iphone12mini1.jpeg' %}" alt="IPhone 12 Mini" style="height: 600px; width: 600px; margin-top: 250px; margin-left: 80px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/iphone12mini/iphone12mini2.jpeg' %}" alt="IPhone 12 Mini" style="height: 600px; width: 500px; margin-top: 250px; margin-left: 100px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/iphone12mini/iphone12mini3.jpeg' %}" alt="IPhone 12 Mini" style="height: 700px; width: 500px; margin-top: 150px; margin-left: 120px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/iphone12mini/iphone12mini4.jpeg' %}" alt="IPhone 12 Mini" style="height: 600px; width: 600px; margin-top: 250px; margin-left: 40px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/iphone12mini/iphone12mini5.jpeg' %}" alt="IPhone 12 Mini" style="height: 600px; width: 500px; margin-top: 250px; margin-left: 100px;">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#nail2" data-slide="prev" style="margin-top: 200px;">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#nail2" data-slide="next" style="margin-top: 200px;">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}

{% block related_product %}
    <div class="row left">
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:redmi9power' %}">
                <img src="{% static 'images/mobiles/redmi9power/redmi9power1.jpg' %}" alt="Redmi 9 Power" style="height: 196px; width: 196px;">
                <div style="padding-left: 40px;">
                    <h4>Redmi 9 Power</h4>
                    <h4 style="padding-left: 15px;">Blazing Blue</h4>
                    <h4 style="padding-left: 30px;">10,499</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:samsunggalaxym51' %}">
                <img src="{% static 'images/mobiles/samsunggalaxym51/samsunggalaxym511.jpeg' %}" alt="Samsung Galaxy M51" style="height: 196px; width: 196px;">
                <div style="padding-left: 25px;">
                    <h4>Samsung Galaxy M51</h4>
                    <h4 style="padding-left: 25px;">Electric Blue</h4>
                    <h4 style="padding-left: 50px;">22,999</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:oneplus' %}">
                <img src="{% static 'images/mobiles/onepluseightpro/oneplus1.jpeg' %}" alt="One Plus 8 Pro" style="height: 196px; width: 196px;">
                <div style="padding-left: 35px;">
                    <h4>One Plus 8 Pro</h4>
                    <h4 style="padding-left: 0px;">Ultramarine Blue</h4>
                    <h4 style="padding-left: 35px;">59,999</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:vivoy20' %}">
                <img src="{% static 'images/mobiles/vivoy20/vivoy201.jpeg' %}" alt="Vivo Y20" style="height: 196px; width: 196px;">
                <div style="padding-left: 65px;">
                    <h4>Vivo Y20</h4>
                    <h4 style="margin-left: -10px;">Purist Blue</h4>
                    <h4 style="padding-left: px;">12,990</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:nokia3.4' %}">
                <img src="{% static 'images/mobiles/nokia3.4/nokia3.41.jpeg' %}" alt="Nokia 3.4" style="height: 196px; width: 196px;">
                <div style="padding-left: 50px;">
                    <h4>Nokia 3.4</h4>
                    <h4 style="padding-left: 20px;">Fjord</h4>
                    <h4 style="padding-left: 10px;">11,999</h4>
                </div>
            </a>
        </div>
    </div>
{% endblock %}

{% block features %}
    <li>5.4-inch (13.7 cm diagonal) Super Retina XDR display</li>
    <li>Ceramic Shield, tougher than any smartphone glass</li>
    <li>A14 Bionic chip, the fastest chip ever in a smartphone</li>
    <li>Advanced dual-camera system with 12MP Ultra Wide and Wide cameras; Night mode, Deep Fusion, Smart HDR 3, 4K Dolby Vision HDR recording</li>
    <li>12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording</li>
    <li>Industry-leading IP68 water resistance</li>
    <li>Supports MagSafe accessories for easy attach and faster wireless charging</li>
    <li>iOS with redesigned widgets on the Home screen, all-new App Library, App Clips and more</li>
{% endblock %}

{% block table %}
    <table>
        <tr>
        <td>
            <h3 style="padding-left: 20px;">Technical Details</h3>
            <hr style="width: 700px; margin-left: -5px;">
            <table class="technical">
            <tr>
                <td class="col1">Display</td>
                <td class="col2">5.4-inch (13.7 cm diagonal) Super Retina XDR display with True Tone</td>
            </tr>
            <tr>
                <td class="col1">Capacity</td>
                <td class="col2">64GB, 128GB, 256GB</td>
            </tr>
            <tr>
                <td class="col1">Splash, Water and Dust Resistant</td>
                <td class="col2">All-glass and surgical-grade stainless steel design, water and dust resistant (rated IP68)</td>
            </tr>
            <tr>
                <td class="col1">Camera and Video</td>
                <td class="col2">Dual 12MP cameras with Portrait mode, Depth Control, Portrait Lighting, Smart HDR, and 4K Dolby Vision HDR video up to 60 fps</td>
            </tr>
            <tr>
                <td class="col1">Front Camera</td>
                <td class="col2">12MP TrueDepth front camera with Portrait mode, Depth Control, Portrait Lighting, and Smart HDR 3</td>
            </tr>
            <tr>
                <td class="col1">Power and Battery</td>
                <td class="col2">Video playback:Up to 15 hours, Video playback (streamed):Up to 10 hours, Audio playback:Up to 50 hours, 20W adapter or higher (sold separately), Fast-charge capable: Up to 50% charge in around 30 minutes with 20W adapter or higher</td>
            </tr>
            <tr>
                <td class="col1">In the Box</td>
                <td class="col2">IPhone with iOS 14, USB-C to Lightning Cable, Documentation</td>
            </tr>
            <tr>
                <td class="col1">Warranty</td>
                <td class="col2">Apple-branded hardware product and accessories contained in the original packaging (“Apple Product”) come with a One-Year Limited Warranty. See apple.com/in/legal/warranty for more information.</td>
            </tr>
            <tr>
                <td class="col1">Height</td>
                <td class="col2">5.18 inches (131.5 mm)</td>
            </tr>
            <tr>
                <td class="col1">Width</td>
                <td class="col2">2.53 inches (64.2 mm)</td>
            </tr>
            <tr>
                <td class="col1">Depth</td>
                <td class="col2">0.29 inch (7.4 mm)</td>
            </tr>
            <tr>
                <td class="col1">Weight</td>
                <td class="col2">4.76 ounces (135 grams)</td>
            </tr>
            <tr>
                <td class="col1">Manufacturer</td>
                <td class="col2">Apple Inc. or Apple India Private Limited</td>
            </tr>
            <tr>
                <td class="col1">Country of Origin</td>
                <td class="col2">China</td>
            </tr>
            <tr>
                <td class="col1">Item Model Number</td>
                <td class="col2">MGE23HN/A</td>
            </tr>
            </table>
        </td>
        <td>
            <h3 style="margin-left: 100px; padding-left: 20px; margin-top: -250px;">Additional Information</h3>
            <hr style="margin-left: 100px; width: 700px;">
            <table class="technical" style="margin-left: 100px;">
            <tr>
                <td class="col1">ASIN</td>
                <td class="col2">B08L5TDRQC</td>
            </tr>
            <tr>
                <td class="col1">Importer</td>
                <td class="col2">Apple India Private Limited No.24, 19th floor, Concorde Tower C, UB City, Vittal Mallya Road, Bangalore - 560 001</td>
            </tr>
            <tr>
                <td class="col1">Manufacturer</td>
                <td class="col2">Apple Inc. or Apple India Private Limited, Apple Inc, One Apple Park Way, Cupertino, CA 95014, USA. or Apple India Private Limited No.24, 19th floor, Concorde Tower C, UB City, Vittal Mallya Road, Bangalore - 560 001</td>
            </tr>
            <tr>
                <td class="col1">Generic Name</td>
                <td class="col2">Iphone 12</td>
            </tr>
            </table>
            <br>
            <br>
            <h3 style="margin-left: 100px;">Feedback</h3>
            <hr style="width: 700px; margin-left: 100px;">
            <form style="margin-left: 100px;" action="mailto:swati100897@gmail.com" method="post" enctype="text/plain">
            <textarea placeholder="Any feedbacks or suggestions.." rows="4" cols="80" style="padding: 5px;"></textarea>
            <br />
            <input type="submit" />
            </form>
        </td>
        </tr>
    </table>
{% endblock %}