{% extends 'Mobiles/base.html' %}
{% load static %}

{% block display_image %}
    <div id="nail2" class="carousel slide display" data-ride="carousel" data-interval="0">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="nail1" data-slide-to="0" class="active"></li>
            <li data-target="#nail1" data-slide-to="1"></li>
            <li data-target="#nail1" data-slide-to="2"></li>
            <li data-target="#nail1" data-slide-to="3"></li>
            <li data-target="#nail1" data-slide-to="4"></li>
        </ol>
         <!-- carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'images/mobiles/nokia3.4/nokia3.41.jpeg' %}" alt="Nokia 3.4" style="height: 600px; width: 500px; margin-top: 200px; margin-left: 80px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/nokia3.4/nokia3.42.jpeg' %}" alt="Nokia 3.4" style="height: 600px; width: 600px; margin-top: 150px; margin-left: 100px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/nokia3.4/nokia3.43.jpeg' %}" alt="Nokia 3.4" style="height: 600px; width: 600px; margin-top: 150px; margin-left: 100px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/nokia3.4/nokia3.44.jpeg' %}" alt="Nokia 3.4" style="height: 600px; width: 700px; margin-top: 200px; margin-left: 80px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/nokia3.4/nokia3.45.jpeg' %}" alt="Nokia 3.4" style="height: 700px; width: 400px; margin-top: 150px; margin-left: 100px;">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#nail2" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#nail2" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}

{% block features %}
    <li>Get up to 70% better performance compared to previous generations, thanks to the newest Qualcomm Snapdragon 460 mobile platform.</li>
    <li>Enjoy all your favourite entertainment in a 6.39” (16.23 cm) immersive HD+ with punch hole display for maximized screen real estate.</li>
    <li>Charge less. Get up to 2 days on a single charge with the Adaptive Battery1.</li>
    <li>Capture the perfect shot with 13MP + 5MP ultra-wide + 2MP depth triple camera AI imaging, Portrait mode, Night mode and the ultrawide lens.Take in a truly timeless design that’s built to last, with a durable 3D Nano-textured rear cover and stunning finish in living colors.</li>
    <li>In the box: Nokia 3.4 device, Quick start guide, Charger, Type-C USB cable, SIM tray tool, Head Set, Jelly Case</li>
{% endblock %}

{% block table %}
    <table>
        <tr>
        <td>
            <h3 style="padding-left: 20px;">Technical Details</h3>
            <hr style="width: 700px; margin-left: -5px;">
            <table class="technical">
            <tr>
                <td class="col1">OS</td>
                <td class="col2">Android 10.0</td>
            </tr>
            <tr>
                <td class="col1">RAM</td>
                <td class="col2">4 GB</td>
            </tr>
            <tr>
                <td class="col1">Product Dimensions</td>
                <td class="col2">16.1 x 7.6 x 0.9 cm; 180 Grams</td>
            </tr>
            <tr>
                <td class="col1">Batteries</td>
                <td class="col2">1 Lithium ion batteries required. (included)</td>
            </tr>
            <tr>
                <td class="col1">Item Model Number</td>
                <td class="col2">Nokia 3.4</td>
            </tr>
            <tr>
                <td class="col1">ConnectivityTechnologies</td>
                <td class="col2">WCDMA 1, 2, 5, 8, GSM : 850, 900, 1800, 1900, LTE 1, 3, 5, 7, 8, 20, 28, 38, 40, 41 (120MHz)</td>
            </tr>
            <tr>
                <td class="col1">Special Features</td>
                <td class="col2">Dual SIM</td>
            </tr>
            <tr>
                <td class="col1">Other Display Features</td>
                <td class="col2">Wireless</td>
            </tr>
            <tr>
                <td class="col1">Other Camera Features</td>
                <td class="col2">Rear</td>
            </tr>
            <tr>
                <td class="col1">Form Factor</td>
                <td class="col2">Bar</td>
            </tr>
            <tr>
                <td class="col1">Colour</td>
                <td class="col2">Fjord</td>
            </tr>
            <tr>
                <td class="col1">Battery Power Rating</td>
                <td class="col2">4000</td>
            </tr>
            <tr>
                <td class="col1">Manufacturer</td>
                <td class="col2">Padget Electronics Private Limited</td>
            </tr>
            <tr>
                <td class="col1">Country of Origin</td>
                <td class="col2">India</td>
            </tr>
            </table>
        </td>
        <td>
            <h3 style="margin-left: 100px; padding-left: 20px; margin-top: 50px;">Additional Information</h3>
            <hr style="margin-left: 100px; width: 700px;">
            <table class="technical" style="margin-left: 100px;">
            <tr>
                <td class="col1">ASIN</td>
                <td class="col2">B08V9ZSN9T</td>
            </tr>
            <tr>
                <td class="col1">Customer Reviews</td>
                <td class="col2">3.8 out of 5 stars</td>
            </tr>
            <tr>
                <td class="col1">Best Sellers Rank</td>
                <td class="col2">#5045 in Electronics (See Top 100 in Electronics)
                <br>
                #316 in Smartphones
                </td>
            </tr>
            <tr>
                <td class="col1">Date First Available</td>
                <td class="col2">19 February 2021</td>
            </tr>
            <tr>
                <td class="col1">Manufacturer</td>
                <td class="col2">	Padget Electronics Private Limited, Padget Electronics Private Limited, B-17 and 18, Phase-II, Noida, 201305, Uttar Pradesh, India</td>
            </tr>
            <tr>
                <td class="col1">Generic Name</td>
                <td class="col2">Smartphones</td>
            </tr>
            </table>
            <br>
            <br>
            <h3 style="margin-left: 100px;">Feedback</h3>
            <hr style="width: 700px; margin-left: 100px;">
            <form style="margin-left: 100px;" action="mailto:swati100897@gmail.com" method="post" enctype="text/plain">
            <textarea placeholder="Any feedbacks or suggestions.." rows="4" cols="80" style="padding: 5px;"></textarea>
            <br />
            <input type="submit" />
            </form>
        </td>
        </tr>
    </table>
{% endblock %}
