{% extends 'Mobiles/base.html' %}
{% load static %}

{% block display_image %}
    <!-- <img src="{% static 'images/mobiles/onepluseightpro/oneplus1.jpeg' %}" alt="One Plus 8 Pro" class="mobile"> -->
    <div id="nail0" class="carousel slide display" data-ride="carousel" data-interval="0">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="nail0" data-slide-to="0" class="active"></li>
            <li data-target="#nail0" data-slide-to="1"></li>
            <li data-target="#nail0" data-slide-to="2"></li>
            <li data-target="#nail0" data-slide-to="3"></li>
            <li data-target="#nail0" data-slide-to="4"></li>
        </ol>
         <!-- carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'images/mobiles/onepluseightpro/oneplus1.jpeg' %}" alt="One Plus 8 Pro" class="mobile">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/onepluseightpro/oneplus2.jpeg' %}" alt="One Plus 8 Pro" class="mobile">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/onepluseightpro/oneplus3.jpeg' %}" alt="One Plus 8 Pro" class="mobile">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/onepluseightpro/oneplus4.jpeg' %}" alt="One Plus 8 Pro" class="mobile">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/onepluseightpro/oneplus5.jpeg' %}" alt="One Plus 8 Pro" class="mobile">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left control" href="#nail0" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right control" href="#nail0" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}

{% block features %}
    <li>48 MP rear camera</li>
    <li>17.22 centimeters (6.78-inch) 120Hz fluid display with 3168 x 1440 pixels resolution, 513 ppi pixel density and vibrant color effect color support</li>
    <li>Memory, Storage & SIM: 12GB RAM | 256GB internal memory | Dual SIM (nano+nano) dual-standby (5G+5G)</li>
    <li>Oxygen OS based on Android v10 operating system with 2.86GHz of clock speed with Qualcomm Snapdragon 865, powered by Kryo 585 CPU octa core processor, Adreno 650</li>
    <li>4510mAH lithium-ion battery</li>
    <li>1 year manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories including batteries from the date of purchase</li>
    <li>Box also includes: Warp charge 30t power adapter, warp type-c cable (support usb 2.0), quick start guide, welcome letter, safety information and warranty card, logo sticker, case, screen protector (pre-applied), sim tray ejector</li>
{% endblock %}

{% block table %}
    <table>
        <tr>
            <td>
                <h3 style="padding-left: 20px;">Technical Details</h3>
                <hr style="width: 700px; margin-left: -5px;">
                <table class="technical">
                    <tr>
                    <td class="col1">OS</td>
                    <td class="col2">Android</td>
                    </tr>
                    <tr>
                    <td class="col1">RAM</td>
                    <td class="col2">12 GB</td>
                    </tr>
                    <tr>
                    <td class="col1">Product Dimensions</td>
                    <td class="col2">16.5 x 0.9 x 7.4 cm; 199 grams</td>
                    </tr>
                    <tr>
                    <td class="col1">Batteries</td>
                    <td class="col2">1 Lithium ion batteries required (included)</td>
                    </tr>
                    <tr>
                    <td class="col1">Item Model Number</td>
                    <td class="col2">IN2021</td>
                    </tr>
                    <tr>
                    <td class="col1">Wireless Communication Technologies</td>
                    <td class="col2">Bluetooth, WiFi Hotspot</td>
                    </tr>
                    <tr>
                    <td class="col1">Special Features</td>
                    <td class="col2">Dual SIM, In-display fingerprint sensor, Electronic compass, Accelerometer, Ambient light sensor, Gyroscope, Sensor core, GPS, Proximity sensor</td>
                    </tr>
                    <tr>
                    <td class="col1">Other Display Features</td>
                    <td class="col2">Wireless</td>
                    </tr>
                    <tr>
                    <td class="col1">Other Camera Features</td>
                    <td class="col2">48MP + 8MP + 48MP + 5MP</td>
                    </tr>
                    <tr>
                    <td class="col1">Form Factor</td>
                    <td class="col2">Touch Screen Phone</td>
                    </tr>
                    <tr>
                    <td class="col1">Colour</td>
                    <td class="col2">Ultramarine Blue</td>
                    </tr>
                    <tr>
                    <td class="col1">Battery Power Rating</td>
                    <td class="col2">4510</td>
                    </tr>
                    <tr>
                    <td class="col1">Manufacturer</td>
                    <td class="col2">One Plus</td>
                    </tr>
                    <tr>
                    <td class="col1">Country of Origin</td>
                    <td class="col2">India</td>
                    </tr>
                </table>
            </td>
            <td>
                <h3 style="margin-left: 100px; padding-left: 20px; margin-top: -10px">Additional Information</h3>
                <hr style="margin-left: 100px; width: 700px;">
                <table class="technical" style="margin-left: 100px;">
                    <tr>
                    <td class="col1">ASIN</td>
                    <td class="col2">B078BN55WZ</td>
                    </tr>
                    <tr>
                    <td class="col1">Customer Reviews</td>
                    <td class="col2">4.3 out of 5 stars</td>
                    </tr>
                    <tr>
                    <td class="col1">Best Sellers Rank</td>
                    <td class="col2">#1,016 in Electronics (See Top 100 in Electronics)
                        <br>
                        #112 in Smartphones
                    </td>
                    </tr>
                    <tr>
                    <td class="col1">Date First Available</td>
                    <td class="col2">5 August 2020</td>
                    </tr>
                    <tr>
                    <td class="col1">Manufacturer</td>
                    <td class="col2">OnePlus, OPPO Mobiles India Private Limited, PLOT-NO.1, SECTOR ECOTECH-VII, GREATER, NOIDA, UTTAR PRADESH, India-201306</td>
                    </tr>
                    <tr>
                    <td class="col1">Generic Name</td>
                    <td class="col2">Smartphones</td>
                    </tr>
                </table>
                <br>
                <br>
                <h3 style="margin-left: 100px;">Feedback</h3>
                <hr style="width: 700px; margin-left: 100px;">
                <form style="margin-left: 100px;" action="mailto:swati100897@gmail.com" method="post" enctype="text/plain">
                    <textarea placeholder="Any feedbacks or suggestions.." rows="4" cols="80" style="padding: 5px;"></textarea>
                    <br />
                    <input type="submit" />
                </form>
            </td>
        </tr>
    </table>
{% endblock %}