{% extends 'Mobiles/base.html' %}
{% load static %}

{% block display_image %}
    <div id="nail1" class="carousel slide display" data-ride="carousel" data-interval="0">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="nail1" data-slide-to="0" class="active"></li>
            <li data-target="#nail1" data-slide-to="1"></li>
            <li data-target="#nail1" data-slide-to="2"></li>
            <li data-target="#nail1" data-slide-to="3"></li>
            <li data-target="#nail1" data-slide-to="4"></li>
        </ol>
         <!-- carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'images/mobiles/redmi9power/redmi9power1.jpg' %}" alt="Redmi 9 Power" style="height: 600px; width: 600px; margin-top: 200px; margin-left: 80px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/redmi9power/redmi9power2.jpeg' %}" alt="Redmi 9 Power" style="height: 700px; width: 400px; margin-top: 150px; margin-left: 150px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/redmi9power/redmi9power3.jpeg' %}" alt="Redmi 9 Power" style="height: 600px; width: 600px; margin-top: 200px; margin-left: 80px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/redmi9power/redmi9power4.jpeg' %}" alt="Redmi 9 Power" style="height: 600px; width: 700px; margin-top: 200px; margin-left: 80px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/redmi9power/redmi9power5.png' %}" alt="Redmi 9 Power" style="height: 700px; width: 500px; margin-top: 150px; margin-left: 80px;">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#nail1" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#nail1" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}

{% block features %}
    <li>48MP quad rear camera, ultra-wide, macro mode, portrait, ai scene recognition, night mode, hdr, pro mode | 8MP front camera</li>
    <li>16.58 centimeters (6.53 inch) FHD+ multi-touch capacitive touchscreen with 2340 x 1080 pixels resolution, 394 ppi pixel density and 19.5:9 aspect ratio</li>
    <li>Memory, Storage & SIM: 4GB RAM | 64GB internal memory expandable up to 512GB | Dual SIM + Dedicated SD card slot</li>
    <li>Android v10 operating system with upto 2.0GHz clock speed Qualcomm Snapdragon 662 octa core processor</li>
    <li>6000mAH large lithium-polymer battery 18W charging support</li>
    <li>1 year manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories including batteries from the date of purchase</li>
    <li>Box also includes: Power adapter, usb cable, SIM eject tool, warranty card, user guide and clear soft case</li>
{% endblock %}

{% block table %}
    <table>
        <tr>
        <td>
            <h3 style="padding-left: 20px;">Technical Details</h3>
            <hr style="width: 700px; margin-left: -5px;">
            <table class="technical">
            <tr>
                <td class="col1">OS</td>
                <td class="col2">Android</td>
            </tr>
            <tr>
                <td class="col1">RAM</td>
                <td class="col2">4 GB</td>
            </tr>
            <tr>
                <td class="col1">Product Dimensions</td>
                <td class="col2">16.2 x 1 x 7.7 cm; 198 Grams</td>
            </tr>
            <tr>
                <td class="col1">Batteries</td>
                <td class="col2">1 Lithium Polymer batteries required. (included)</td>
            </tr>
            <tr>
                <td class="col1">Item Model Number</td>
                <td class="col2">Redmi 9 Power</td>
            </tr>
            <tr>
                <td class="col1">Wireless Communication Technologies</td>
                <td class="col2">Bluetooth, WiFi Hotspot</td>
            </tr>
            <tr>
                <td class="col1">Special Features</td>
                <td class="col2">Dual SIM, Infrared, E-mail, Accelerometer, Ambient light sensor, GPS, Video Player, Music Player, Proximity sensor</td>
            </tr>
            <tr>
                <td class="col1">Other Display Features</td>
                <td class="col2">Wireless</td>
            </tr>
            <tr>
                <td class="col1">Other Camera Features</td>
                <td class="col2">8 MP</td>
            </tr>
            <tr>
                <td class="col1">Form Factor</td>
                <td class="col2">Touch Screen Phone</td>
            </tr>
            <tr>
                <td class="col1">Colour</td>
                <td class="col2">Blazing Blue</td>
            </tr>
            <tr>
                <td class="col1">Battery Power Rating</td>
                <td class="col2">6000</td>
            </tr>
            <tr>
                <td class="col1">Manufacturer</td>
                <td class="col2">Xiaomi</td>
            </tr>
            <tr>
                <td class="col1">Country of Origin</td>
                <td class="col2">India</td>
            </tr>
            </table>
        </td>
        <td>
            <h3 style="margin-left: 100px; padding-left: 20px; margin-top: 50px;">Additional Information</h3>
            <hr style="margin-left: 100px; width: 700px;">
            <table class="technical" style="margin-left: 100px;">
            <tr>
                <td class="col1">ASIN</td>
                <td class="col2">B089MS8XQ3</td>
            </tr>
            <tr>
                <td class="col1">Customer Reviews</td>
                <td class="col2">4.1 out of 5 stars</td>
            </tr>
            <tr>
                <td class="col1">Best Sellers Rank</td>
                <td class="col2">#40 in Electronics (See Top 100 in Electronics)
                <br>
                #25 in Smartphones
                </td>
            </tr>
            <tr>
                <td class="col1">Date First Available</td>
                <td class="col2">21 December 2020</td>
            </tr>
            <tr>
                <td class="col1">Manufacturer</td>
                <td class="col2">Xiaomi, Flextronics Technologies India Private LTD , Survey No:90,Door no/Plot No:ANV Mind Space,SP Space Road State Highways 120,Uthukaddu Kattavakkam, Wallajabad,Kancheepuram Taluk,Kancheepuram District -631605 Tamil Nadu Phone no:18001036286</td>
            </tr>
            <tr>
                <td class="col1">Generic Name</td>
                <td class="col2">Smartphones</td>
            </tr>
            </table>
            <br>
            <br>
            <h3 style="margin-left: 100px;">Feedback</h3>
            <hr style="width: 700px; margin-left: 100px;">
            <form style="margin-left: 100px;" action="mailto:swati100897@gmail.com" method="post" enctype="text/plain">
            <textarea placeholder="Any feedbacks or suggestions.." rows="4" cols="80" style="padding: 5px;"></textarea>
            <br />
            <input type="submit" />
            </form>
        </td>
        </tr>
    </table>
{% endblock %}