{% extends 'Mobiles/base.html' %}
{% load static %}

{% block display_image %}
    <div id="nail2" class="carousel slide display" data-ride="carousel" data-interval="0">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="nail1" data-slide-to="0" class="active"></li>
            <li data-target="#nail1" data-slide-to="1"></li>
            <li data-target="#nail1" data-slide-to="2"></li>
            <li data-target="#nail1" data-slide-to="3"></li>
            <li data-target="#nail1" data-slide-to="4"></li>
        </ol>
         <!-- carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'images/mobiles/samsunggalaxym51/samsunggalaxym511.jpeg' %}" alt="Samsung Galaxy M51" style="height: 600px; width: 600px; margin-top: 250px; margin-left: 80px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/samsunggalaxym51/samsunggalaxym512.jpeg' %}" alt="Samsung Galaxy M51" style="height: 700px; width: 600px; margin-top: 200px; margin-left: 80px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/samsunggalaxym51/samsunggalaxym513.jpeg' %}" alt="Samsung Galaxy M51" style="height: 650px; width: 350px; margin-top: 220px; margin-left: 150px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/samsunggalaxym51/samsunggalaxym514.jpeg' %}" alt="Samsung Galaxy M51" style="height: 600px; width: 700px; margin-top: 250px; margin-left: 0px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/samsunggalaxym51/samsunggalaxym515.png' %}" alt="Samsung Galaxy M51" style="height: 700px; width: 500px; margin-top: 200px; margin-left: 80px;">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#nail2" data-slide="prev" style="margin-top: 200px;">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#nail2" data-slide="next" style="margin-top: 200px;">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}

{% block related_product %}
    <div class="row left">
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:redmi9power' %}">
                <img src="{% static 'images/mobiles/redmi9power/redmi9power1.jpg' %}" alt="Redmi 9 Power" style="height: 196px; width: 196px;">
                <div style="padding-left: 40px;">
                    <h4>Redmi 9 Power</h4>
                    <h4 style="padding-left: 15px;">Blazing Blue</h4>
                    <h4 style="padding-left: 30px;">10,499</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:oneplus' %}">
                <img src="{% static 'images/mobiles/onepluseightpro/oneplus1.jpeg' %}" alt="One Plus 8 Pro" style="height: 196px; width: 196px;">
                <div style="padding-left: 45px;">
                    <h4>One Plus 8 Pro</h4>
                    <h4 style="margin-left: -10px;">Ultramarine Blue</h4>
                    <h4 style="padding-left: 25px;">59,999</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:iphone12mini' %}">
                <img src="{% static 'images/mobiles/iphone12mini/iphone12mini1.jpeg' %}" alt="IPhone 12 Mini" style="height: 196px; width: 196px;">
                <div style="padding-left: 35px;">
                    <h4>IPhone 12 Mini</h4>
                    <h4 style="padding-left: 40px;">Blue</h4>
                    <h4 style="padding-left: 35px;">69,900</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:vivoy20' %}">
                <img src="{% static 'images/mobiles/vivoy20/vivoy201.jpeg' %}" alt="Vivo Y20" style="height: 196px; width: 196px;">
                <div style="padding-left: 65px;">
                    <h4>Vivo Y20</h4>
                    <h4 style="margin-left: -10px;">Purist Blue</h4>
                    <h4 style="padding-left: px;">12,990</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:nokia3.4' %}">
                <img src="{% static 'images/mobiles/nokia3.4/nokia3.41.jpeg' %}" alt="Nokia 3.4" style="height: 196px; width: 196px;">
                <div style="padding-left: 50px;">
                    <h4>Nokia 3.4</h4>
                    <h4 style="padding-left: 20px;">Fjord</h4>
                    <h4 style="padding-left: 10px;">11,999</h4>
                </div>
            </a>
        </div>
    </div>
{% endblock %}

{% block features %}
    <li>Quad camera setup - 64MP (F1.8) main camera + 12MP (F2.2) ultra wide camera + 5MP (F2.4) depth camera + 5MP (F2.4) macro camera and 32MP (F2.2) front camera</li>
    <li>16.95 cm (6.7-inch) sAMOLED Plus - Infinity-O display, FHD+ capacitive touchscreen with 1080 x 2400 pixels resolution, Contrast Ratio: 78960:1</li>
    <li>Memory, Storage & SIM: 6GB RAM, 128GB internal memory expandable up to 512GB | Dedicated Memory slot</li>
    <li>Android v10.0 operating system with 2.2GHz+1.8GHz Qualcomm | SD730G octa core processor</li>
    <li>7000mAH lithium-ion battery | 25W USB Type-C to C fast charger in the box</li>
    <li>Fast face unlock and Side Fingerprint sensor | Dual SIM (nano+nano) with dual standby and dual VoLTE | 3.5 mm headphone jack</li>
    <li>1 year manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories including batteries from the date of purchase</li>
    <li>Box also includes: Travel adapter, USB Type-C to C, ejection pin and user manual</li>
{% endblock %}

{% block table %}
    <table>
        <tr>
        <td>
            <h3 style="padding-left: 20px;">Technical Details</h3>
            <hr style="width: 700px; margin-left: -5px;">
            <table class="technical">
            <tr>
                <td class="col1">OS</td>
                <td class="col2">Android</td>
            </tr>
            <tr>
                <td class="col1">RAM</td>
                <td class="col2">6 GB</td>
            </tr>
            <tr>
                <td class="col1">Product Dimensions</td>
                <td class="col2">16.9 x 0.9 x 7.6 cm; 213 Grams</td>
            </tr>
            <tr>
                <td class="col1">Batteries</td>
                <td class="col2">1 Lithium ion batteries required. (included)</td>
            </tr>
            <tr>
                <td class="col1">Item Model Number</td>
                <td class="col2">SM-M515FZBDINS</td>
            </tr>
            <tr>
                <td class="col1">Wireless Communication Technologies</td>
                <td class="col2">Bluetooth, WiFi Hotspot</td>
            </tr>
            <tr>
                <td class="col1">Special Features</td>
                <td class="col2">Dimensions: 16.95x 0.95x7.63 - Other display features: 20:9 aspect ratio, Corning Gorilla Glass 3 - Other Camera Features: Single Take (Rear and Front), Camera, Single Take (Rear and Front) Dimensions: 16.95x 0.95x7.63 - Other display features: 20:9 aspect ratio, Corning Gorilla Glass 3</td>
            </tr>
            <tr>
                <td class="col1">Other Display Features</td>
                <td class="col2">Wireless</td>
            </tr>
            <tr>
                <td class="col1">Other Camera Features</td>
                <td class="col2">64 MP + 12MP + 5MP + 5MP</td>
            </tr>
            <tr>
                <td class="col1">Form Factor</td>
                <td class="col2">Touch Screen Phone</td>
            </tr>
            <tr>
                <td class="col1">Colour</td>
                <td class="col2">Electric Blue</td>
            </tr>
            <tr>
                <td class="col1">Battery Power Rating</td>
                <td class="col2">7000</td>
            </tr>
            <tr>
                <td class="col1">Manufacturer</td>
                <td class="col2">Samsung India Electronics Private Limited</td>
            </tr>
            <tr>
                <td class="col1">Country of Origin</td>
                <td class="col2">India</td>
            </tr>
            </table>
        </td>
        <td>
            <h3 style="margin-left: 100px; padding-left: 20px; margin-top: -110px;">Additional Information</h3>
            <hr style="margin-left: 100px; width: 700px;">
            <table class="technical" style="margin-left: 100px;">
            <tr>
                <td class="col1">ASIN</td>
                <td class="col2">B085J1J32G</td>
            </tr>
            <tr>
                <td class="col1">Customer Reviews</td>
                <td class="col2">4.4 out of 5 stars</td>
            </tr>
            <tr>
                <td class="col1">Best Sellers Rank</td>
                <td class="col2">#135 in Electronics (See Top 100 in Electronics)
                <br>
                #49 in Smartphones
                </td>
            </tr>
            <tr>
                <td class="col1">Date First Available</td>
                <td class="col2">18 September 2020</td>
            </tr>
            <tr>
                <td class="col1">Manufacturer</td>
                <td class="col2">Samsung India Electronics Private Limited, Samsung India Electronics Pvt ltd, 6th Floor , DLF Centre, Sansad Marg, New Delhi - 110001 . Email id: support.india@samsung.com, Tel(Toll Free): 1800 40 7267864</td>
            </tr>
            <tr>
                <td class="col1">Generic Name</td>
                <td class="col2">Smartphones</td>
            </tr>
            </table>
            <br>
            <br>
            <h3 style="margin-left: 100px;">Feedback</h3>
            <hr style="width: 700px; margin-left: 100px;">
            <form style="margin-left: 100px;" action="mailto:swati100897@gmail.com" method="post" enctype="text/plain">
            <textarea placeholder="Any feedbacks or suggestions.." rows="4" cols="80" style="padding: 5px;"></textarea>
            <br />
            <input type="submit" />
            </form>
        </td>
        </tr>
    </table>
{% endblock %}