{% extends 'Mobiles/base.html' %}
{% load static %}

{% block display_image %}
    <div id="nail2" class="carousel slide display" data-ride="carousel" data-interval="0">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="nail1" data-slide-to="0" class="active"></li>
            <li data-target="#nail1" data-slide-to="1"></li>
            <li data-target="#nail1" data-slide-to="2"></li>
            <li data-target="#nail1" data-slide-to="3"></li>
            <li data-target="#nail1" data-slide-to="4"></li>
        </ol>
         <!-- carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'images/mobiles/vivoy20/vivoy201.jpeg' %}" alt="Vivo Y20" style="height: 550px; width: 550px; margin-top: 250px; margin-left: 80px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/vivoy20/vivoy202.jpeg' %}" alt="Vivo Y20" style="height: 600px; width: 600px; margin-top: 250px; margin-left: 100px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/vivoy20/vivoy203.jpeg' %}" alt="Vivo Y20" style="height: 600px; width: 600px; margin-top: 250px; margin-left: 20px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/vivoy20/vivoy204.jpeg' %}" alt="Vivo Y20" style="height: 550px; width: 750px; margin-top: 250px; margin-left: 0px;">
            </div>
            <div class="item">
                <img src="{% static 'images/mobiles/vivoy20/vivoy205.jpeg' %}" alt="Vivo Y20" style="height: 600px; width: 300px; margin-top: 250px; margin-left: 200px;">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#nail2" data-slide="prev" style="margin-top: 200px;">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#nail2" data-slide="next" style="margin-top: 200px;">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
{% endblock %}

{% block related_product %}
    <div class="row left">
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:redmi9power' %}">
                <img src="{% static 'images/mobiles/redmi9power/redmi9power1.jpg' %}" alt="Redmi 9 Power" style="height: 196px; width: 196px;">
                <div style="padding-left: 40px;">
                    <h4>Redmi 9 Power</h4>
                    <h4 style="padding-left: 15px;">Blazing Blue</h4>
                    <h4 style="padding-left: 30px;">10,499</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:samsunggalaxym51' %}">
                <img src="{% static 'images/mobiles/samsunggalaxym51/samsunggalaxym511.jpeg' %}" alt="Samsung Galaxy M51" style="height: 196px; width: 196px;">
                <div style="padding-left: 25px;">
                    <h4>Samsung Galaxy M51</h4>
                    <h4 style="padding-left: 25px;">Electric Blue</h4>
                    <h4 style="padding-left: 50px;">22,999</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:iphone12mini' %}">
                <img src="{% static 'images/mobiles/iphone12mini/iphone12mini1.jpeg' %}" alt="IPhone 12 Mini" style="height: 196px; width: 196px;">
                <div style="padding-left: 35px;">
                    <h4>IPhone 12 Mini</h4>
                    <h4 style="padding-left: 40px;">Blue</h4>
                    <h4 style="padding-left: 35px;">69,900</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:oneplus' %}">
                <img src="{% static 'images/mobiles/onepluseightpro/oneplus1.jpeg' %}" alt="One Plus 8 Pro" style="height: 196px; width: 196px;">
                <div style="padding-left: 45px;">
                    <h4>One Plus 8 Pro</h4>
                    <h4 style="margin-left: -10px;">Ultramarine Blue</h4>
                    <h4 style="padding-left: 25px;">59,999</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Mobiles:nokia3.4' %}">
                <img src="{% static 'images/mobiles/nokia3.4/nokia3.41.jpeg' %}" alt="Nokia 3.4" style="height: 196px; width: 196px;">
                <div style="padding-left: 50px;">
                    <h4>Nokia 3.4</h4>
                    <h4 style="padding-left: 20px;">Fjord</h4>
                    <h4 style="padding-left: 10px;">11,999</h4>
                </div>
            </a>
        </div>
    </div>
{% endblock %}

{% block features %}
    <li>13+2+2MP rear camera | 8MP front camera</li>
    <li>16.55 centimeters (6.51 inch) HD+ display with 720 x 1600 pixels resolution</li>
    <li>Memory, Storage & SIM: 4GB RAM | 64GB internal memory expandable up to 256GB | Dual SIM (nano+nano) dual-standby (4G+4G)</li>
    <li>Funtouch OS 10.5 based on Android v10 operating system with Qualcomm Snapdragon 460 octa core processor</li>
    <li>5000mAH lithium-ion battery</li>
    <li>1 year manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories including batteries from the date of purchase</li>
    <li>Box also includes: Documentation, USB cable, USB power adapter, sim ejector pin, protective case, protective film (1 applied)</li>
{% endblock %}

{% block table %}
    <table>
        <tr>
        <td>
            <h3 style="padding-left: 20px;">Technical Details</h3>
            <hr style="width: 700px; margin-left: -5px;">
            <table class="technical">
            <tr>
                <td class="col1">OS</td>
                <td class="col2">Android</td>
            </tr>
            <tr>
                <td class="col1">RAM</td>
                <td class="col2">4 GB</td>
            </tr>
            <tr>
                <td class="col1">Product Dimensions</td>
                <td class="col2">16.4 x 0.8 x 7.6 cm; 192 Grams</td>
            </tr>
            <tr>
                <td class="col1">Batteries</td>
                <td class="col2">1 Lithium ion batteries required (included)</td>
            </tr>
            <tr>
                <td class="col1">Item Model Number</td>
                <td class="col2">vivo 2029</td>
            </tr>
            <tr>
                <td class="col1">Wireless Communication Technologies</td>
                <td class="col2">Bluetooth; WiFi Hotspot</td>
            </tr>
            <tr>
                <td class="col1">Special Features</td>
                <td class="col2">Dual sim;GPS;Music Player;Video Player;Accelerometer;Ambient Light sensor;Proximity sensor;E-compass;Fingerprint;Gyroscope</td>
            </tr>
            <tr>
                <td class="col1">Other Display Features</td>
                <td class="col2">Wireless</td>
            </tr>
            <tr>
                <td class="col1">Other Camera Features</td>
                <td class="col2">8MP</td>
            </tr>
            <tr>
                <td class="col1">Form Factor</td>
                <td class="col2">Touch Screen Phone</td>
            </tr>
            <tr>
                <td class="col1">Colour</td>
                <td class="col2">Purist Blue</td>
            </tr>
            <tr>
                <td class="col1">Battery Power Rating</td>
                <td class="col2">5000</td>
            </tr>
            <tr>
                <td class="col1">Manufacturer</td>
                <td class="col2">Vivo</td>
            </tr>
            <tr>
                <td class="col1">Country of Origin</td>
                <td class="col2">India</td>
            </tr>
            </table>
        </td>
        <td>
            <h3 style="margin-left: 100px; padding-left: 20px; margin-top: -10px">Additional Information</h3>
            <hr style="margin-left: 100px; width: 700px;">
            <table class="technical" style="margin-left: 100px;">
            <tr>
                <td class="col1">ASIN</td>
                <td class="col2">B089MS6FBP</td>
            </tr>
            <tr>
                <td class="col1">Customer Reviews</td>
                <td class="col2">4.3 out of 5 stars</td>
            </tr>
            <tr>
                <td class="col1">Best Sellers Rank</td>
                <td class="col2">#1,075 in Electronics (See Top 100 in Electronics)
                <br>
                #123 in Smartphones
                </td>
            </tr>
            <tr>
                <td class="col1">Date First Available</td>
                <td class="col2">25 August 2020</td>
            </tr>
            <tr>
                <td class="col1">Manufacturer</td>
                <td class="col2">Vivo, vivo Mobile India Pvt. Ltd. 10th & 11th Floor, Palm Springs Plaza (Complex), Village Wazirabad, Sector-54, Gurugram- 122003, Haryana, India.</td>
            </tr>
            <tr>
                <td class="col1">Generic Name</td>
                <td class="col2">Mobile</td>
            </tr>
            </table>
            <br>
            <br>
            <h3 style="margin-left: 100px;">Feedback</h3>
            <hr style="width: 700px; margin-left: 100px;">
            <form style="margin-left: 100px;" action="mailto:swati100897@gmail.com" method="post" enctype="text/plain">
            <textarea placeholder="Any feedbacks or suggestions.." rows="4" cols="80" style="padding: 5px;"></textarea>
            <br />
            <input type="submit" />
            </form>
        </td>
        </tr>
    </table>
{% endblock %}