{% extends 'Furniture/base.html' %}
{% load static %}

{% block display_image %}
<div id="nail0" class="carousel slide display" data-ride="carousel" data-interval="0">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="nail0" data-slide-to="0" class="active"></li>
        <li data-target="#nail0" data-slide-to="1"></li>
        <li data-target="#nail0" data-slide-to="2"></li>
        <li data-target="#nail0" data-slide-to="3"></li>
        <li data-target="#nail0" data-slide-to="4"></li>
    </ol>
     <!-- carousel items -->
     <div class="carousel-inner">
        <div class="item active">
            <img src="{% static 'images/furniture/woodkeyholder/keyholder1.jpeg' %}" alt="A10 Omega Wood Key Holder" style="width: 480px; height: 600px; margin-top: 250px; margin-left: 100px;">
        </div>
        <div class="item">
            <img src="{% static 'images/furniture/woodkeyholder/keyholder2.jpeg' %}" alt="A10 Omega Wood Key Holder" style="width: 480px; height: 600px; margin-top: 200px; margin-left: 150px;">
        </div>
        <div class="item">
            <img src="{% static 'images/furniture/woodkeyholder/keyholder3.jpeg' %}" alt="A10 Omega Wood Key Holder" style="width: 480px; height: 600px; margin-top: 250px; margin-left: 150px;">
        </div>
        <div class="item">
            <img src="{% static 'images/furniture/woodkeyholder/keyholder4.jpeg' %}" alt="A10 Omega Wood Key Holder" style="width: 480px; height: 600px; margin-top: 250px; margin-left: 100px;">
        </div>
        <div class="item">
            <img src="{% static 'images/furniture/woodkeyholder/keyholder5.jpeg' %}" alt="A10 Omega Wood Key Holder" style="width: 480px; height: 600px; margin-top: 200px; margin-left: 120px;">
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left control" href="#nail0" data-slide="prev" style="margin-top: 200px;">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right control" href="#nail0" data-slide="next" style="margin-top: 200px;">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
{% endblock %}

{% block related_product %}
    <div class="row left">
        <div class="col-sm-2">
            <a href="{% url 'Furniture:mdfwalldecor' %}">
                <img src="{% static 'images/furniture/mdfwalldecor/mdfwall1.jpeg' %}" alt="MDF Wall Decor" style="height: 196px; width: 196px;">
                <div style="padding-left: 40px;">
                    <h4>MDF Wall Decor</h4>
                    <h4 style="padding-left: 5px;">Santosha Decor</h4>
                    <h4 style="padding-left: 30px;">1,099</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Furniture:furniturecafestool' %}">
                <img src="{% static 'images/furniture/furniturecafestool/furniturecafestool1.jpeg' %}" alt="Furniture Cafe Stool" style="height: 196px; width: 196px;">
                <div style="padding-left: 25px;">
                    <h4>Furniture Cafe Stool</h4>
                    <h4 style="padding-left: 25px;">Furniture Cafe</h4>
                    <h4 style="padding-left: 50px;">1,519</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Furniture:storagecase' %}">
                <img src="{% static 'images/furniture/storagecase/storagecase1.jpeg' %}" alt="Storage Case" style="height: 196px; width: 196px;">
                <div style="padding-left: 35px;">
                    <h4>Storage Case</h4>
                    <h4 style="padding-left: 15px;">Desire Hub</h4>
                    <h4 style="padding-left: 35px;">295</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Furniture:wallmirror' %}">
                <img src="{% static 'images/furniture/wallmirror/wallmirror1.jpeg' %}" alt="Wall Mirror" style="height: 196px; width: 196px;">
                <div style="padding-left: 50px;">
                    <h4>Wall Mirror</h4>
                    <h4 style="margin-left: -30px;">Hosley Decorative</h4>
                    <h4 style="padding-left: 15px;">709</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Furniture:entunit' %}">
                <img src="{% static 'images/furniture/tventunit/entunit1.jpeg' %}" alt="TV Entertainment Unit" style="height: 196px; width: 196px;">
                <div style="padding-left: 10px;">
                    <h4>TV Entertainment Unit</h4>
                    <h4 style="padding-left: 50px;">UniArt</h4>
                    <h4 style="padding-left: 60px;">899</h4>
                </div>
            </a>
        </div>
    </div>
{% endblock %}

{% block features %}
    <table cellpadding="10px" cellspacing="10px" class="features">
        <tr>
            <td class="features"><strong>Material</strong></td>
            <td class="features">Engineered Wood</td>
        </tr>
        <tr>
            <td class="features"><strong>Item Dimensions (L x W x H)</strong></td>
            <td class="features">30.5 x 12.7 x 17.8 Centimeters</td>
        </tr>
        <tr>
            <td class="features"><strong>Maximum Weight Recommendation</strong></td>
            <td class="features">1.5 Kilograms</td>
        </tr>
        <tr>
            <td class="features"><strong>Brand</strong></td>
            <td class="features">A10 Shop</td>
        </tr>
        <tr>
            <td class="features"><strong>Mounting Type</strong></td>
            <td class="features">Wall Mount</td>
        </tr>
    </table>
{% endblock %}

{% block table %}
    <table>
        <tr>
            <td>
                <h3 style="padding-left: 20px;">Technical Details</h3>
                <hr style="width: 700px; margin-left: -5px;">
                <table class="technical">
                    <tr>
                    <td class="col1">Color</td>
                    <td class="col2">Mahogany Finish</td>
                    </tr>
                    <tr>
                    <td class="col1">Product Dimensions	</td>
                    <td class="col2">30.48 x 12.7 x 17.78 cm; 1.09 Kilograms</td>
                    </tr>
                    <tr>
                    <td class="col1">Number of Pieces</td>
                    <td class="col2">2</td>
                    </tr>
                    <tr>
                    <td class="col1">Assembly Type</td>
                    <td class="col2">The product requires basic assembly and comes with assembly instructions and hardware</td>
                    </tr>
                    <tr>
                    <td class="col1">Capacity</td>
                    <td class="col2">Standard</td>
                    </tr>
                    <tr>
                    <td class="col1">Primary Material</td>
                    <td class="col2">Engineered Wood</td>
                    </tr>
                    <tr>
                    <td class="col1">Shipping Weight</td>
                    <td class="col2">1.09 Kilograms</td>
                    </tr>
                    <tr>
                    <td class="col1">Item Shape</td>
                    <td class="col2">Rectangular</td>
                    </tr>
                    <tr>
                    <td class="col1">Manufacturer</td>
                    <td class="col2">A10 Design Pvt Ltd</td>
                    </tr>
                    <tr>
                    <td class="col1">Country of Origin</td>
                    <td class="col2">India</td>
                    </tr>
                </table>
            </td>
            <td>
                <h3 style="margin-left: 100px; padding-left: 20px; margin-top: -10px">Additional Information</h3>
                <hr style="margin-left: 100px; width: 700px;">
                <table class="technical" style="margin-left: 100px;">
                    <tr>
                    <td class="col1">ASIN</td>
                    <td class="col2">B07KLMR8H3</td>
                    </tr>
                    <tr>
                    <td class="col1">Customer Reviews</td>
                    <td class="col2">4.3 out of 5 stars</td>
                    </tr>
                    <tr>
                    <td class="col1">Best Sellers Rank</td>
                    <td class="col2">#514,830 in Home & Kitchen (See Top 100 in Home & Kitchen)
                        <br>
                        #1435 in Wall Key Holders
                    </td>
                    </tr>
                    <tr>
                    <td class="col1">Date First Available</td>
                    <td class="col2">31 August 2016</td>
                    </tr>
                </table>
                <br>
                <br>
                <h3 style="margin-left: 100px;">Feedback</h3>
                <hr style="width: 700px; margin-left: 100px;">
                <form style="margin-left: 100px;" action="mailto:swati100897@gmail.com" method="post" enctype="text/plain">
                    <textarea placeholder="Any feedbacks or suggestions.." rows="4" cols="80" style="padding: 5px;"></textarea>
                    <br />
                    <input type="submit" />
                </form>
            </td>
        </tr>
    </table>
{% endblock %}

{% block comments %}
<table>
    <tr>
        <!-- Customer Reviews Rating, Rating by Feature, Post your Review -->
        <td>
            <table>
                <!-- Customer Reviews Rating -->
                <tr>
                    <!-- Show previous ratings - pass width from views.py as 
                        (20 * 5 + 10 * 4 + 40 * 3 + 5 * 2 + 25 * 1) / 100
                        where out of 100 ratings, 20 people gave 5 stars, 10 people gave 4 stars, 40 people gave 3 stars,
                        5 people gave 2 stars, and 25 people gave 1 star
                        Now final rating = sum of rating / total rating
                        width percentage = final rating * 100 / 5 (because it is a 5 scale rating)
                    -->
                    <div class="left">
                        <h3 class="left">Customer Reviews</h3>
                        <div class="star-ratings-sprite">
                            <span style="width:52%" class="star-ratings-sprite-rating"></span>
                        </div>
                        <h4 style="float: left; padding-left: 20px; margin-top: 5px;">{{ final_rating }} out of 5</h4>
                        <br>
                        <h5 style="float: left; margin-left: 100px">{{ total_ratings }} global ratings</h5>
                        <br>
                        <div style="float: left;" class="left charts">
                            <div class="chart chart--dev">
                              <ul class="chart--horiz">
                                <li class="chart__bar" style="width: 98%;">
                                  <span class="chart__label">
                                    5 star
                                  </span>
                                </li>
                                <li class="chart__bar" style="width: 98%;">
                                  <span class="chart__label">
                                    4 star
                                  </span>
                                </li>
                                <li class="chart__bar" style="width: 70%;">
                                  <span class="chart__label">
                                    3 star
                                  </span>
                                </li>
                                <li class="chart__bar" style="width: 60%;">
                                  <span class="chart__label">
                                    2 star
                                  </span>
                                </li>
                                <li class="chart__bar" style="width: 25%;">
                                  <span class="chart__label">
                                    1 star
                                  </span>
                                </li>
                              </ul>
                            </div>
                        </div>
                    </div>
                </tr>
                <!-- Post your Review and Rating -->
                <tr>
                    <div class="left">
                        <h3 class="left" style="float: left;">Post your Rating and Review</h3>
                        <br>
                        <!-- Get rating input from user -->
                        <div class="rating rating2" style="margin-left: -20%;">
                            <a href="#5" title="Give 5 stars">★</a>
                            <a href="#4" title="Give 4 stars">★</a>
                            <a href="#3" title="Give 3 stars">★</a>
                            <a href="#2" title="Give 2 stars">★</a>
                            <a href="#1" title="Give 1 star">★</a>
                        </div>
                        <textarea name="comment" placeholder="Share your thoughts with other customers..." class="inpbox"></textarea>
                    </div>
                </tr>
            </table>
        </td>
        <!-- Previous Comments on the product -->
        <td class="comments">
            <h3><strong>Top Reviews</strong></h3>
            <div class="reviews">
                <div>
                    <h4><i class="fas fa-user-circle" style="size: 25x; color: gray;"></i>&nbsp;&nbsp;Swati</h4>
                    <div class="star-ratings-sprite" style="margin-left: 10px;">
                        <span style="width:90%" class="star-ratings-sprite-rating"></span>
                    </div>
                    <br>
                    <br>
                    <strong>Awesome phone</strong>
                    <p style="color: gray;">Reviewed in India on 13th May 2021</p>
                    <p>Battery life is very good, but very expensive</p>
                </div>
                <div>
                    <h4><i class="fas fa-user-circle" style="size: 25x; color: gray;"></i>&nbsp;&nbsp;Pulkit</h4>
                    <div class="star-ratings-sprite" style="margin-left: 10px;">
                        <span style="width:20%" class="star-ratings-sprite-rating"></span>
                    </div>
                    <br>
                    <br>
                    <strong>Worst phone</strong>
                    <p style="color: gray;">Reviewed in India on 13th May 2021</p>
                    <p>Worst phone, overheats a lot</p>
                </div>
                <div>
                    <h4><i class="fas fa-user-circle" style="size: 25x; color: gray;"></i>&nbsp;&nbsp;Aqib</h4>
                    <div class="star-ratings-sprite" style="margin-left: 10px;">
                        <span style="width:50%" class="star-ratings-sprite-rating"></span>
                    </div>
                    <br>
                    <br>
                    <strong>Average phone</strong>
                    <p style="color: gray;">Reviewed in India on 13th May 2021</p>
                    <p>Average phone, can buy</p>
                </div>
                <div>
                    <h4><i class="fas fa-user-circle" style="size: 25x; color: gray;"></i>&nbsp;&nbsp;Demo</h4>
                    <div class="star-ratings-sprite" style="margin-left: 10px;">
                        <span style="width:80%" class="star-ratings-sprite-rating"></span>
                    </div>
                    <br>
                    <br>
                    <strong>Good</strong>
                    <p style="color: gray;">Reviewed in India on 13th May 2021</p>
                    <p>Expensive, but good</p>
                </div>
            </div>
        </td>
    </tr>
</table>
{% endblock %}