{% extends 'Furniture/base.html' %}
{% load static %}

{% block display_image %}
<div id="nail0" class="carousel slide display" data-ride="carousel" data-interval="0">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="nail0" data-slide-to="0" class="active"></li>
        <li data-target="#nail0" data-slide-to="1"></li>
        <li data-target="#nail0" data-slide-to="2"></li>
        <li data-target="#nail0" data-slide-to="3"></li>
        <li data-target="#nail0" data-slide-to="4"></li>
    </ol>
     <!-- carousel items -->
     <div class="carousel-inner">
        <div class="item active">
            <img src="{% static 'images/furniture/furniturecafestool/furniturecafestool1.jpeg' %}" alt="Furniture Cafe Stool" style="width: 480px; height: 600px; margin-top: 250px; margin-left: 100px;">
        </div>
        <div class="item">
            <img src="{% static 'images/furniture/furniturecafestool/furniturecafestool2.jpeg' %}" alt="Furniture Cafe Stool" style="width: 480px; height: 600px; margin-top: 250px; margin-left: 100px;">
        </div>
        <div class="item">
            <img src="{% static 'images/furniture/furniturecafestool/furniturecafestool3.jpeg' %}" alt="Furniture Cafe Stool" style="width: 480px; height: 600px; margin-top: 250px; margin-left: 100px;">
        </div>
        <div class="item">
            <img src="{% static 'images/furniture/furniturecafestool/furniturecafestool4.jpeg' %}" alt="Furniture Cafe Stool" style="width: 480px; height: 600px; margin-top: 250px; margin-left: 100px;">
        </div>
        <div class="item">
            <img src="{% static 'images/furniture/furniturecafestool/furniturecafestool5.jpeg' %}" alt="Furniture Cafe Stool" style="width: 480px; height: 600px; margin-top: 250px; margin-left: 100px;">
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left control" href="#nail0" data-slide="prev" style="margin-top: 200px;">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right control" href="#nail0" data-slide="next" style="margin-top: 200px;">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
{% endblock %}

{% block related_product %}
    <div class="row left">
        <div class="col-sm-2">
            <a href="{% url 'Furniture:mdfwalldecor' %}">
                <img src="{% static 'images/furniture/mdfwalldecor/mdfwall1.jpeg' %}" alt="MDF Wall Decor" style="height: 196px; width: 196px;">
                <div style="padding-left: 40px;">
                    <h4>MDF Wall Decor</h4>
                    <h4 style="padding-left: 5px;">Santosha Decor</h4>
                    <h4 style="padding-left: 30px;">1,099</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Furniture:woodkeyholder' %}">
                <img src="{% static 'images/furniture/woodkeyholder/keyholder1.jpeg' %}" alt="Wood Key Holder" style="height: 196px; width: 196px;">
                <div style="padding-left: 20px;">
                    <h4>Wood Key Holder</h4>
                    <h4 style="margin-left: -10px;">A10 Shop Omega 6</h4>
                    <h4 style="padding-left: 50px;">645</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Furniture:storagecase' %}">
                <img src="{% static 'images/furniture/storagecase/storagecase1.jpeg' %}" alt="Storage Case" style="height: 196px; width: 196px;">
                <div style="padding-left: 35px;">
                    <h4>Storage Case</h4>
                    <h4 style="padding-left: 15px;">Desire Hub</h4>
                    <h4 style="padding-left: 35px;">295</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Furniture:wallmirror' %}">
                <img src="{% static 'images/furniture/wallmirror/wallmirror1.jpeg' %}" alt="Wall Mirror" style="height: 196px; width: 196px;">
                <div style="padding-left: 50px;">
                    <h4>Wall Mirror</h4>
                    <h4 style="margin-left: -30px;">Hosley Decorative</h4>
                    <h4 style="padding-left: 15px;">709</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'Furniture:entunit' %}">
                <img src="{% static 'images/furniture/tventunit/entunit1.jpeg' %}" alt="TV Entertainment Unit" style="height: 196px; width: 196px;">
                <div style="padding-left: 10px;">
                    <h4>TV Entertainment Unit</h4>
                    <h4 style="padding-left: 50px;">UniArt</h4>
                    <h4 style="padding-left: 60px;">899</h4>
                </div>
            </a>
        </div>
    </div>
{% endblock %}

{% block features %}
    <table cellpadding="10px" cellspacing="10px" class="features">
        <tr>
            <td class="features"><strong>Item Shape</strong></td>
            <td class="features">Round</td>
        </tr>
        <tr>
            <td class="features"><strong>Item Dimensions (L x W x H)</strong></td>
            <td class="features">40.6 x 40.6 x 40.6 Centimeters</td>
        </tr>
        <tr>
            <td class="features"><strong>Item Weight</strong></td>
            <td class="features">8.18 Kilograms</td>
        </tr>
        <tr>
            <td class="features"><strong>Brand</strong></td>
            <td class="features">Furniture Cafe</td>
        </tr>
        <tr>
            <td class="features"><strong>Furniture Finish</strong></td>
            <td class="features">Walnut</td>
        </tr>
    </table>
{% endblock %}

{% block table %}
    <table>
        <tr>
            <td>
                <h3 style="padding-left: 20px;">Technical Details</h3>
                <hr style="width: 700px; margin-left: -5px;">
                <table class="technical">
                    <tr>
                    <td class="col1">Color</td>
                    <td class="col2">Brown</td>
                    </tr>
                    <tr>
                    <td class="col1">Product Dimensions	</td>
                    <td class="col2">40.64 x 40.64 x 40.64 cm; 8.18 Kilograms</td>
                    </tr>
                    <tr>
                    <td class="col1">Is Assembly Required</td>
                    <td class="col2">No</td>
                    </tr>
                    <tr>
                    <td class="col1">Assembly Type</td>
                    <td class="col2">Already Assembled</td>
                    </tr>
                    <tr>
                    <td class="col1">Capacity</td>
                    <td class="col2">16 inches</td>
                    </tr>
                    <tr>
                    <td class="col1">Primary Material</td>
                    <td class="col2">Wood</td>
                    </tr>
                    <tr>
                    <td class="col1">Finish Type</td>
                    <td class="col2">Polished</td>
                    </tr>
                    <tr>
                    <td class="col1">Item Shape</td>
                    <td class="col2">Round</td>
                    </tr>
                    <tr>
                    <td class="col1">Frame Material</td>
                    <td class="col2">Wood</td>
                    </tr>
                    <tr>
                    <td class="col1">Shipping Weight</td>
                    <td class="col2">9.8 Kilograms</td>
                    </tr>
                    <tr>
                    <td class="col1">Country of Origin</td>
                    <td class="col2">India</td>
                    </tr>
                </table>
            </td>
            <td>
                <h3 style="margin-left: 100px; padding-left: 20px; margin-top: -10px">Additional Information</h3>
                <hr style="margin-left: 100px; width: 700px;">
                <table class="technical" style="margin-left: 100px;">
                    <tr>
                    <td class="col1">ASIN</td>
                    <td class="col2">B07FRX3V8K</td>
                    </tr>
                    <tr>
                    <td class="col1">Customer Reviews</td>
                    <td class="col2">3.8 out of 5 stars</td>
                    </tr>
                    <tr>
                    <td class="col1">Best Sellers Rank</td>
                    <td class="col2">#124,662 in Home & Kitchen (See Top 100 in Home & Kitchen)
                        <br>
                        #337 in Office Stools
                    </td>
                    </tr>
                    <tr>
                    <td class="col1">Date First Available</td>
                    <td class="col2">16 June 2019</td>
                    </tr>
                </table>
                <br>
                <br>
                <h3 style="margin-left: 100px;">Feedback</h3>
                <hr style="width: 700px; margin-left: 100px;">
                <form style="margin-left: 100px;" action="mailto:swati100897@gmail.com" method="post" enctype="text/plain">
                    <textarea placeholder="Any feedbacks or suggestions.." rows="4" cols="80" style="padding: 5px;"></textarea>
                    <br />
                    <input type="submit" />
                </form>
            </td>
        </tr>
    </table>
{% endblock %}