{% extends 'Furniture/base.html' %}
{% load static %}

{% block display_image %}
<div id="nail0" class="carousel slide display" data-ride="carousel" data-interval="0">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="nail0" data-slide-to="0" class="active"></li>
        <li data-target="#nail0" data-slide-to="1"></li>
        <li data-target="#nail0" data-slide-to="2"></li>
        <li data-target="#nail0" data-slide-to="3"></li>
        <li data-target="#nail0" data-slide-to="4"></li>
    </ol>
     <!-- carousel items -->
     <div class="carousel-inner">
        <div class="item active">
            <img src="{% static 'images/furniture/storagecase/storagecase1.jpeg' %}" alt="Desire Hub 4 pcs Wall Mounted Storage Case" class="furniture">
        </div>
        <div class="item">
            <img src="{% static 'images/furniture/storagecase/storagecase2.jpeg' %}" alt="Desire Hub 4 pcs Wall Mounted Storage Case" class="furniture">
        </div>
        <div class="item">
            <img src="{% static 'images/furniture/storagecase/storagecase3.jpeg' %}" alt="Desire Hub 4 pcs Wall Mounted Storage Case" class="furniture">
        </div>
        <div class="item">
            <img src="{% static 'images/furniture/storagecase/storagecase4.jpeg' %}" alt="Desire Hub 4 pcs Wall Mounted Storage Case" class="furniture">
        </div>
        <div class="item">
            <img src="{% static 'images/furniture/storagecase/storagecase5.jpeg' %}" alt="Desire Hub 4 pcs Wall Mounted Storage Case" class="furniture">
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left control" href="#nail0" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right control" href="#nail0" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
{% endblock %}

{% block features %}
    <table cellpadding="10px" cellspacing="10px" class="features">
        <tr>
            <td class="features"><strong>Material</strong></td>
            <td class="features">Plastic</td>
        </tr>
        <tr>
            <td class="features"><strong>Item Dimensions (L x W x H)</strong></td>
            <td class="features">10 x 9.5 x 19.5 Centimeters</td>
        </tr>
        <tr>
            <td class="features"><strong>Colour</strong></td>
            <td class="features">Multi</td>
        </tr>
        <tr>
            <td class="features"><strong>Brand</strong></td>
            <td class="features">Desire Hub</td>
        </tr>
        <tr>
            <td class="features"><strong>Finish Type</strong></td>
            <td class="features">Polished</td>
        </tr>
    </table>
{% endblock %}

{% block table %}
    <table>
        <tr>
            <td>
                <h3 style="padding-left: 20px; margin-top: -200px;">Technical Details</h3>
                <hr style="width: 700px; margin-left: -5px;">
                <table class="technical">
                    <tr>
                    <td class="col1">Color</td>
                    <td class="col2">Multi</td>
                    </tr>
                    <tr>
                    <td class="col1">Product Dimensions	</td>
                    <td class="col2">10 x 9.5 x 19.5 cm</td>
                    </tr>
                    <tr>
                    <td class="col1">Material	</td>
                    <td class="col2">Plastic</td>
                    </tr>
                    <tr>
                    <td class="col1">Finish Type</td>
                    <td class="col2">Polished</td>
                    </tr>
                    <tr>
                    <td class="col1">Manufacturer</td>
                    <td class="col2">Desire Hub</td>
                    </tr>
                    <tr>
                    <td class="col1">Country of Origin</td>
                    <td class="col2">India</td>
                    </tr>
                </table>
            </td>
            <td>
                <h3 style="margin-left: 100px; padding-left: 20px; margin-top: -10px">Additional Information</h3>
                <hr style="margin-left: 100px; width: 700px;">
                <table class="technical" style="margin-left: 100px;">
                    <tr>
                    <td class="col1">ASIN</td>
                    <td class="col2">B0925WWKWL</td>
                    </tr>
                    <tr>
                    <td class="col1">Customer Reviews</td>
                    <td class="col2">0 out of 5 stars</td>
                    </tr>
                    <tr>
                    <td class="col1">Best Sellers Rank</td>
                    <td class="col2">#96,739 in Home & Kitchen (See Top 100 in Home & Kitchen)
                        <br>
                        #522 in Home Storage Hooks
                    </td>
                    </tr>
                    <tr>
                    <td class="col1">Date First Available</td>
                    <td class="col2">10 April 2021</td>
                    </tr>
                </table>
                <br>
                <br>
                <h3 style="margin-left: 100px;">Feedback</h3>
                <hr style="width: 700px; margin-left: 100px;">
                <form style="margin-left: 100px;" action="mailto:swati100897@gmail.com" method="post" enctype="text/plain">
                    <textarea placeholder="Any feedbacks or suggestions.." rows="4" cols="80" style="padding: 5px;"></textarea>
                    <br />
                    <input type="submit" />
                </form>
            </td>
        </tr>
    </table>
{% endblock %}